@model CourseApp.Models.Booking

@{
    ViewData["Title"] = "BookCourse";
}

<h1>BookCourse</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursePrice" class="control-label"></label>
                <input asp-for="CoursePrice" class="form-control" />
                <span asp-validation-for="CoursePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseCategory" class="control-label"></label>
                <select asp-for="CourseCategory" class="form-control"></select>
                <span asp-validation-for="CourseCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

